<h1>Editar Atuação</h1>

<%= render "form", atuacao: @atuacao %>

<br>

<div>
  <button type="button floatLeft" class="btn btn-dark" style=" float: rigth; margin-left: 5px">
    <%= link_to "Ver esta atuação", @atuacao %> 
  </button>
  <button type="button floatLeft" class="btn btn-dark" style=" float: rigth; margin-left: 5px">
    <%= link_to "Voltar para atuações", atuacaos_path %> 
  </button>
</div>

