<div class="jumbotron text-left">
  <h1>Nova Atuação</h1>
</div>
<%= render "form", atuacao: @atuacao %>

<br>

<div>
<button type="button floatLeft" class="btn btn-dark" style=" float: rigth; margin-left: 5px">
    <%= link_to "Voltar para Atuações", atuacaos_path %> 
  </button>  
  <button type="button floatLeft" class="btn btn-dark" style=" float: rigth; margin-left: 5px">
    <%= link_to "Voltar para a tela inicial", welcome_index_path%> 
  </button>
</div>


