<div id="<%= dom_id ator %>">
  <p>
    <strong>Nome:</strong>
    <%= ator.nome %>
  </p>

  <p>
    <strong>Data de nascimento:</strong>
    <%= ator.data_de_nascimento.strftime("%d/%m/%Y") %>
  </p>

</div>
