<div id="<%= dom_id filme %>">
  <p>
    <strong>Titulo:</strong>
    <%= filme.titulo %>
  </p>

  <p>
    <strong>Data de lancamento:</strong>
    <%= filme.data_de_lancamento.strftime("%d/%m/%Y") %>
  </p>

</div>
